.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #87cefa;
  display: flex;
  justify-content: center;
}

.navBar li a {
  display: block;
  color: #41667d;
  padding: 16px 16px;
  text-decoration: none;
}

.navBar li a:hover {
  background-color: #dcf1fe;
}